* {
  box-sizing: border-box;
}

.header {
background-color: rgb(106, 107, 201);
display: flex;
justify-content: space-between;
align-items: center;
padding: .5rem 1rem;
grid-area: header;
}

h1,
h3 {
 color: white;
 margin: 0;
}


.grid-container {
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto;
grid-template-areas:
"header"
"main-nav"
"main";
}
