* {
  box-sizing: border-box;
}

.header {
background-color: rgb(106, 107, 201);
display: flex;
justify-content: space-between;
align-items: center;
padding: .5rem 1rem;
grid-area: header;
}



h1,
h3 {
 color: white;
 margin: 0;
}

h1 {
 font-size: 1.5rem;
 flex-grow: 2;
}

h3 {
 font-size: .8rem;
}

.bell {
 padding: .5rem;
 fill: white;
 border-right: solid rgba(255, 255, 255, 0,329) 1px;
 dipslay: grid;
}

.bell-svg:hover {
  animation: ring .5s;
  fill: yellow;
  cursor: pointer;


.grid-container {
display: grid;
grid-template-columns: 100%;
grid-template-rows: auto;
grid-template-areas:
"header"
"main-nav"
"main";
}
